@font-face {
  font-family: "PlusJakartaSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./PlusJakartaSans/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "PlusJakartaSans-variable";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("./PlusJakartaSans/PlusJakartaSans-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "PlusJakartaSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./PlusJakartaSans/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: "PlusJakartaSans-variable";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf");
}
